<ion-content [fullscreen]="true">
  <ng-container ion-fixed>
    <mat-card>
      <mat-card-header class="custom-mat-card-header">
        <mat-card-title>

        </mat-card-title>
        <mat-card-subtitle>

        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="cBslim">
          <span class="gDnWjd">
            <h6>Search for vaccination slots • Get notified when available slots opens up</h6>
          </span>
        </div>
        <br />
        <mat-divider></mat-divider>
        <br />
        <div class="allign-center">
          <mat-radio-group [(ngModel)]="preferences.searchCriteria" aria-label="Select an option" name="criteriaType"
            (change)="criteriaTypeChange($event)">
            <mat-radio-button [value]="1">Search By PIN</mat-radio-button>
            <mat-radio-button [value]="2">Search By District</mat-radio-button>
          </mat-radio-group>
        </div>
        <br />
        <div *ngIf="preferences.searchCriteria == 2" class="allign-center">
          <mat-form-field class="example-full-width">
            <mat-label>State</mat-label>
            <mat-select [(ngModel)]="preferences.stateId" name="state" (selectionChange)="onStateChange($event)">
              <mat-option [value]="">-- Please Select --</mat-option>
              <mat-option *ngFor="let item of states" [value]="item.state_id">
                {{item.state_name}}
              </mat-option>
            </mat-select>

          </mat-form-field>

          <br />

          <mat-form-field class="example-full-width">
            <mat-label>District</mat-label>
            <mat-select [(ngModel)]="preferences.districtId" name="district"
              (selectionChange)="onDistrictChange($event)">
              <mat-option [value]="">-- Please Select --</mat-option>
              <mat-option *ngFor="let item of districts" [value]="item.district_id">
                {{item.district_name}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </div>

        <div *ngIf="preferences.searchCriteria == 1" class="allign-center right-left-padding">
          <mat-form-field class="example-intermediate-width">
            <mat-label>PIN</mat-label>
            <input matInput placeholder="Enter your PIN" [(ngModel)]="preferences.pinNumber" name="PIN" type="number">
          </mat-form-field>
        </div>
        <br />
        <div class="allign-center">
          <button mat-raised-button color="primary" (click)="getSchedule($event)" [disabled]="actionDisabled()">Get
            vaccinated &nbsp;<fa-icon icon="syringe"></fa-icon></button>
        </div>
        <br />
        <div *ngIf="searchCompleted && hasResults" #filterSection>
          <div>
            <mat-button-toggle-group [(value)]="filterAgeGroupValue" #group="matButtonToggleGroup" multiple=true
              color="primary" [disabled]="actionDisabled()">
              <mat-button-toggle *ngFor="let item of ageOptions;" (change)="filterGroupSelectionChanged($event)"
                [value]="item" class="reduced-line-height">{{item.Option}}</mat-button-toggle>
            </mat-button-toggle-group>
            &nbsp;&nbsp;
            <mat-button-toggle-group [(value)]="filterFeeGroupValue" #group="matButtonToggleGroup" multiple=true
              color="primary" [disabled]="actionDisabled()">
              <mat-button-toggle *ngFor="let item of feeOptions;" (change)="filterFeeGroupValueSelectionChanged($event)"
                [value]="item">{{item.Option}}</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <br />
          <div>
            <mat-button-toggle-group [(value)]="filterVaccineGroupValue" #group="matButtonToggleGroup" multiple=true
              color="primary" [disabled]="actionDisabled()">
              <mat-button-toggle *ngFor="let item of vaccineOptions;"
                (change)="filterGroupVaccineSelectionChanged($event)" [value]="item">{{item.Option}}</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <br />

        <div *ngIf="searchCompleted && availableCenterSessions.length == 0">
          <mat-divider></mat-divider>
          <br />
          <div>
            <span style="color: #f5222d;">
              <fa-icon icon="exclamation"></fa-icon>
              &nbsp;No Slots available
            </span>
            &nbsp;&nbsp;
            <button mat-raised-button aria-label="Get notified Btn" color="primary" (click)="createAlert($event)">
              Get notified
              <fa-icon icon="bell"></fa-icon>
            </button>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </ng-container>
  <br />
  <ng-container *ngIf="searchCompleted && availableCenterSessions.length > 0">
    <app-result-section [results]="availableCenterSessions"></app-result-section>
  </ng-container>
</ion-content>