<ion-content [fullscreen]="true">
  <mat-card>
    <mat-card-header class="custom-mat-card-header">
      <mat-card-title>Search vaccination slots</mat-card-title>
      <mat-card-subtitle>
        
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <br />
      <div>
        <mat-radio-group [(ngModel)]="preferences.searchCriteria" aria-label="Select an option" name="criteriaType"
          (change)="criteriaTypeChange()">
          <mat-radio-button [value]="1">Search By PIN</mat-radio-button>
          <mat-radio-button [value]="2">Search By District</mat-radio-button>
        </mat-radio-group>
      </div>
      <br />
      <div *ngIf="preferences.searchCriteria == 2">
        <mat-form-field class="example-full-width">
          <mat-label>State</mat-label>
          <mat-select [(ngModel)]="preferences.stateId" name="state" (selectionChange)="onStateChange($event)">
            <mat-option [value]="">-- Please Select --</mat-option>
            <mat-option *ngFor="let item of states" [value]="item.state_id">
              {{item.state_name}}
            </mat-option>
          </mat-select>

        </mat-form-field>

        <br />

        <mat-form-field class="example-full-width">
          <mat-label>District</mat-label>
          <mat-select [(ngModel)]="preferences.districtId" name="district" (selectionChange)="onDistrictChange($event)">
            <mat-option [value]="">-- Please Select --</mat-option>
            <mat-option *ngFor="let item of districts" [value]="item.district_id">
              {{item.district_name}}
            </mat-option>
          </mat-select>

        </mat-form-field>
      </div>

      <div *ngIf="preferences.searchCriteria == 1">
        <mat-form-field class="example-half-width">
          <mat-label>PIN</mat-label>
          <input matInput placeholder="Enter your PIN" [(ngModel)]="preferences.pinNumber" name="PIN" type="number">
        </mat-form-field>
      </div>
      <br />
      <div>
        <button mat-raised-button color="primary" (click)="getSchedule($event)" [disabled]="actionDisabled()">Get
          vaccinated &nbsp;<fa-icon icon="syringe"></fa-icon></button>
      </div>
      <br />
      <div *ngIf="searchCompleted && hasResults" #filterSection>
        <div>
          <mat-button-toggle-group [(value)]="filterGroupValue" #group="matButtonToggleGroup" multiple=true
            color="primary" [disabled]="actionDisabled()">
            <mat-button-toggle *ngFor="let item of toggleOptions;" (change)="filterGroupSelectionChanged($event)"
              [value]="item" class="reduced-line-height">{{item.Option}}</mat-button-toggle>
          </mat-button-toggle-group>
          &nbsp;&nbsp;
          <mat-button-toggle-group [(value)]="filterFeeGroupValue" #group="matButtonToggleGroup" multiple=true
            color="primary" [disabled]="actionDisabled()">
            <mat-button-toggle *ngFor="let item of feeOptions;" (change)="filterFeeGroupValueSelectionChanged($event)"
              [value]="item">{{item.Option}}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <br />
        <div>
          <mat-button-toggle-group [(value)]="filterVaccineGroupValue" #group="matButtonToggleGroup" multiple=true
            color="primary" [disabled]="actionDisabled()">
            <mat-button-toggle *ngFor="let item of vaccineOptions;"
              (change)="filterGroupVaccineSelectionChanged($event)" [value]="item">{{item.Option}}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

    </mat-card-content>
  </mat-card>

  <br />

  <ng-container *ngIf="searchCompleted">
    <ng-container *ngIf="availableCenterSessions.length > 0">
      <app-result-section [results]="availableCenterSessions"></app-result-section>
      <br />
    </ng-container>
    <ng-container *ngIf="availableCenterSessions.length == 0">
      <mat-card>
        <mat-card-header>
          <mat-card-title>

          </mat-card-title>
          <mat-card-subtitle>
            <span style="color: #f5222d;">
              <fa-icon icon="exclamation"></fa-icon>
              &nbsp;No Slots available in this area
            </span>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <span>
            <mat-slide-toggle [(ngModel)]="preferences.subscribe" #slider name="SubscribeBtn"
              [disabled]="actionDisabled()" (change)="subscribeToNotification($event)">
              <!-- {{ slider.checked ? 'Unsubscribe' : 'Subscribe to notifications' }} -->
              Subscribe to notifications
            </mat-slide-toggle>
          </span>
          <br />
          <!-- <div style="color: dodgerblue;">You will be notified when a slot opens up</div> -->
        </mat-card-content>
      </mat-card>
      <br />
    </ng-container>
  </ng-container>
</ion-content>