<ion-header>
  <ion-toolbar>
    <ion-title>Cowin Notifier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs #tabs>
    <ion-tab-bar slot="bottom">
      
      <ion-tab-button tab="home">
        <ion-icon name="search"></ion-icon>
        <ion-label>Search Slots</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="alert">
        <ion-icon name="apps" matBadge="15" matBadgeColor="warn"></ion-icon>
        <ion-label>Alerts</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>